include frappe_theme_studio/public/images/*
recursive-include frappe_theme_studio/public/images *.png
recursive-include frappe_theme_studio/public/js *.js
recursive-include frappe_theme_studio/public/css *.css
recursive-include frappe_theme_studio *.json
recursive-include frappe_theme_studio *.html
